body{
  /* make all text courier, set margin and padding to 0 */
  font-family: Courier, monospace;
  margin: 0
  padding: 10px 10px 10px 10px;
}
h1{
  /* make your headers #128ded color and bold */
  font-size: 34px;
  color: #128ded;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
p{
  /* make your paragraphs 14pt, double-spaced and 10px of padding on the left and right */
  font-size: 14pt;
  /* font isn't chaninging */
  line-height: 2;
  padding: 10px 30px 10px 30px;

}
a{
  /* make your links red, italics, and underlined */
  color: red;
  font-style: italic;
  text: underline;
  padding-left: 30px;
}
a:hover{
  /* make the background color of your link black and the text white when you hover over it */
  background-color: black;
  color: white;
}
ul{
  /* make bullet points red squares */
  list-style: square;
  color: red;
  padding-left: 30px;
}
img{
  /* make the image 300px wide and 220px high, 10px of padding, and a 3px dashed border in the color of your choice */
  width: 300px;
  height: 220px;
  border: 3px solid pink;
  border-style: dashed;
}

footer{
  /* style the footer so it has a black background and white text */
  color: white;
  background-color:black;
}
